# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

POSTGRES_HOST='localhost'
POSTGRES_PORT='5432'
POSTGRES_USER='1c-college-student-portal'
POSTGRES_PASSWORD='...'
POSTGRES_DB='1c-college-student-portal'

DATABASE_URL='postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}'

S1C_CONF_HOST='http://${WINDOWS_HOST}/college'
S1C_CONF_USERNAME='Администратор'
S1C_CONF_PASSWORD='...'
